[2020-11-27 14:05] bernhard-da commented on #136
hi @olangsrud: i finally had some time to tacke this; i have rewritten the entire simpleheuristic-approach so that it does not follow the argus (hitas) approach of travelling subtables any longer but to focus directly on linear constraints; for the linked-table approach, i now additionally generate the required constraints that would lead to the differencing attack you described; eg when two cells

[2020-11-27 15:55] olangsrud commented on #136
Hi @bernhard-da: Yes, I will do some checking concerning revealing supressed cells by the method I have used above.

[2020-11-27 21:24] bernhard-da commented on #136
:+1: thx!

[2020-11-30 09:28] sub-sub-starfish commented on #155
Asking for Permission to be Member of the User Group

[2020-11-30 09:48] olangsrud commented on #136
Note first that I have changed default method within easySdcTable to a method called "SimpleSingle" which is "SIMPLEHEURISTIC" with detectSingletons=TRUE  or with threshold=1 depending on allowZeros. Now with sdcTable version 0.31.99, the bottom example of  easySdcTable::PTxyz reveals no cells. But if this is changed from "SimpleSingle" to "SIMPLEHEURISTIC" two cells can still be revealed. The cod

[2020-12-01 14:00] bernhard-da commented on #136
@olangsrud thx for the tests; i will have a look and try to optimize the computation of required additional constraints;  in this first approach, i compare each constraint (which is slow) with each other and look if exactly two cells overlap excluding common cells which is of course slow; i keep looking for something quicker, though;

as for the "no cells left" error: in this version i was quite r

[2020-12-11 17:03] vanessa-azzopardi commented on #155
Asking for Permission to be Member of the User Group

[2020-12-15 09:38] hadjittofis commented on #155
Asking for Permission to be Member of the User Group

[2020-12-15 13:38] jeroenborghuis commented on #155
Asking for Permission to be Member of the User Group

[2020-12-17 07:08] JJ585 commented on #155
Asking for Permission to be Member of the User Group

[2020-12-17 13:21] olangsrud commented on #155
Asking for Permission to be Member of the User Group

[2020-12-17 13:39] KarinaKelleher commented on #155
Asking for Permission to be Member of the User Group,
Thanks Karina (karina.dineen@cso.ie ; UserName : KarinaKelleher)

[2020-12-18 13:49] OlesjaN commented on #155
Asking for Permission to be Member of the User Group.

[2020-12-21 06:33] Freeedim commented on #114
Hi there!
I am now experiencing the very same issue with sdcMicro 5.5.1. Possible regression?

[2020-12-21 08:51] rvdlaar8 commented on #155
Asking for Permission to be Member of the User Group

[2020-12-21 21:43] bernhard-da commented on #114
hi  @Freeedim  thx, can you please provide the example (data) and code that you used? thx.

[2020-12-22 14:42] tdlinehancso commented on #155
Asking for permission to be Member of this User Group

[2020-12-29 14:12] HakonTorfinnKarlsen commented on #155
Asking for Permission to be Member of the User Group

[2021-01-06 20:35] geyerf opened #156 "P%-Rule suppresses all cells for strictly negative values"
**SDC tool used:** tau-argus
**Version used:**  4.2.0 Build 5
**Operating system used:** Windows

---
Hello all,
this is my first potential bug raise. So I try my best to stick to the requested structure:

I tried to apply the p%-rule for a variable that has only strictly negative values (e.g. negative income). This resulted in suppression of all cells in tau-argus  and not only the ones that fail

[2021-01-07 10:35] ppdewolf commented on #156
In general, the p%-rule is based on the assumption of having non-negative contributions. See e.g., Statistical Disclosure Control, Hundepool et al. (2012), ISBN 978-1-119-97815-2, chapter 4. Note that in case of negative values, the question arrises what is sensitive (large positive or large negative values), what is the lower and upper bound to a cell if positive and negative contributions are al

[2021-01-08 15:12] reynirlg commented on #155
Asking for Permission to be Member of the User Group

[2021-01-08 21:40] spiliopv commented on #155
Asking for Permission to be Member of the User Group

[2021-01-11 06:27] AnceCer commented on #155
Asking for Permission to be Member of the User Group

[2021-01-11 09:14] akselthomsen commented on #155
Asking for Permission to be Member of the User Group

[2021-01-11 09:15] akselthomsen commented on #155
Asking for Permission to be Member of the User Group

[2021-01-11 09:16] akselthomsen commented on #155
Asking for Permission to be Member of the User Group

[2021-01-12 09:55] robindraprabhu commented on #155
Asking for Permission to be Member of the User Group

[2021-01-13 11:57] MarianNecula commented on #155
Asking for Permission to be Member of the User Group

[2021-01-13 12:55] zane-mat commented on #155
Asking for Permission to be Member of the User Group

[2021-01-13 20:17] JanPestun commented on #155
Asking for Permission to be Member of the User Group

[2021-01-14 00:31] borisfrenkie commented on #155
“ Asking for Permission to be Member of the User Group “

[2021-01-14 09:34] BeataNagy commented on #155
Asking for Permission to be Member of the User Group

[2021-01-14 14:19] Alicia-ES commented on #155
Asking for Permission to be Member of the User Group

[2021-01-18 07:36] kristilehto commented on #155
Asking for Permission to be Member of the User Group

[2021-01-19 18:17] agalvezmo commented on #155
Asking for Permission to be Member of the User Group

[2021-01-20 14:36] geyerf commented on #156
Thank you very much for your thorough answer. You convinced me, however, from a users perspective it would be nice to have an error/warning message from Tau-Argus in such cases.

[2021-01-20 15:32] ppdewolf commented on #156
I understand that you would like some warning/error message. But in case of a few slightly negative contributions, you would not have a problem. So we would have to be very careful with such warning/error messages. Perhaps something like
"WARNING: The p% rule assumes nonnegative contributions. Your data contains negative contributions. If there are too many, this may lead to unexpected behaviour."

[2021-01-20 15:32] #156 closed

[2021-01-25 14:29] a-bujnowska opened #157 "TA, status of the cells (confidentiality) is lost when using the option enforce protection"
This concerns Tau Argus version 4.1.7, windows version, with tabular input.

[2021-01-26 13:50] SimonBBK opened #158 "HiTaS cannot load JJ-routine"
*Please specify*
**SDC tool used:** TauArgus
**Version used:**  4.2
**Operating system used:** Windows 10

Hello,

I am Simon and I am working for Deutsche Bundesbank. We are using TauArgus now for one year. We used to have version 4.1.7 and were able to flag tables. We changed to version 4.2 and now for most tables that worked with 4.1.7 we now receive the error "HiTaS cannot load JJ-routine".

!

[2021-02-04 13:54] ppdewolf commented on #158
Additional question: what solver are you using? Cplex, Xpress, Free?

[2021-02-04 16:14] Incarro commented on #155
“ Asking for Permission to be Member of the User Group “

[2021-02-04 16:20] GiacomoCarli commented on #155
Asking for Permission to be Member of the User Group.

[2021-02-09 13:57] danlupp commented on #155
Asking for Permission to be Member of the User Group

[2021-02-16 10:01] vanessa-azzopardi opened #159 "Error in SetVariable: variable HHID"
Hi,

I have recently upgraded from an older version of muArgus (version 3 I believe) to version 5.1.5 and I have been encountering an issue whenever I try calculating the risk tables.  Once I reach Specify -> Combinations, add the variables and try to calculate the tables, I get an error message saying that there is an error in the HHID (household identifier) variable.

The exact wording of the er

[2021-02-17 10:40] ppdewolf commented on #159
What version is the older one? 5.1.3?
Did you try using the same data and same metadata in 5.1.3?

[2021-02-17 10:49] vanessa-azzopardi commented on #159
Hi Peter Paul,

Thanks for transferring.  Didn't realise I was in the wrong place.

To provide an update, the issue has been resolved now.  The problem was coming from 2 missing commands in the metadata file, i.e. the following:
<SEPARATOR> ","
<NAMESINFRONT>

Basically if the metadata file is generated from MuAurgus (choosing the free with meta option) and then saved, these mentioned commands do

[2021-02-17 10:53] ppdewolf commented on #159
Thanks for the update.
Good that you noticed that the commands are somehow not saved when saving metadata from within mu-argus. That is indeed a bug that I will try to solve in a next release.

I will add the label "workaround" to this issue for now. Thanks.

[2021-02-17 11:07] vanessa-azzopardi commented on #159
You are welcome and thanks for your help.

I also noticed that when saving the output file (safe file), the headers (variable names) are missing in the generated file.  The parameters I was using are: entropy for suppression and keeping the HH identifier in the safe file.

On another note, when the risk tables are calculated, cases where there less than the threshold value of missing cases are fla

[2021-02-17 11:18] ppdewolf commented on #159
If I understand you correctly: it is actually one of the features of suppression as a method, that it should not be obvious to users whether a missing value is due to the SDC or due to "ordinary missing at data collection". That's why the resulting dataset (with additional missings) has the same value for missing in both cases. I.e., loading a protected dataset (with suppression) into mu-argus giv

[2021-02-17 11:40] vanessa-azzopardi commented on #159
I see, thanks for clarifying regarding red cells.

I fully agree with you about not distinguishing between missing due to suppression and ordinary missing being a feature of the suppression method.  What I meant was that within Mu Argus, this distinction seems to be made (i.e. there are separate rows for the two kinds of missing), as shown below.

![image](https://user-images.githubusercontent.com

[2021-02-17 12:37] ppdewolf commented on #159
This is strange. When I use -1 as missing and include one record with -1, I get this:
![afbeelding](https://user-images.githubusercontent.com/19729987/108205317-31503200-7125-11eb-80c3-0bf46d102322.png)

Are you sure that the two "-1" are the same? So no "spaces" somewhere?

[2021-02-17 12:37] SimonBBK commented on #158
Sorry for the late reply. Thought i activated to get informed if there is a reply.

We are using the free solver.

[2021-02-17 12:45] KarinaKelleher opened #160 "sdcTable: Issue with approximate disclosure in suppressed cells"
SDC too used: sdcTable
Version Used : 0.31
Operating system used: Windows 10

My colleague, Tim Linehan, and I, came across this when testing different suppression methods on Business data.

Below we replicate the scenario using synthetic data.

**Issue Details**
Some 2-digit NACE groups were primary suppressed due to the (2,80) dominance rule. However, in these suppressed NACE groups (B05, B06 an

[2021-02-17 14:50] vanessa-azzopardi commented on #159
Thanks for the feedback.

Checked for spaces to make sure the two "-1" are identical but the same keeps happening.  I tried without the householdID just in case but the same happened.

I'll let you know if I figure out what is causing this.

[2021-02-17 16:36] ppdewolf commented on #160
This is what I get using Modular (=HiTaS) in tau-argus 4.2.0b5 (red numbers are primary suppressions, blue numbers are secondary suppressions). Not sure what HiTaS implementation is used in sdcTable.
Could you share the full R-script you are using to apply HITAS to your synthetic data example?
![afbeelding](https://user-images.githubusercontent.com/19729987/108234976-a59acd80-7145-11eb-89a3-1ea2e5

[2021-02-17 16:40] ppdewolf commented on #159
You are using 5.1.5 build 3; [the latest release](https://github.com/sdcTools/muargus/releases/tag/5.1.5.3)?

[2021-02-18 07:59] vanessa-azzopardi commented on #159
Yes, I'm using 5.1.5 build 3.

![image](https://user-images.githubusercontent.com/75853527/108323850-7462e180-71c7-11eb-8dbb-fed7e00cab3e.png)

[2021-02-19 10:59] bernhard-da commented on #160
hi @KarinaKelleher thx for sharing this. first off; as stated in the notes of the `protectTable()` man-page, I would not suggest to use HITAS, HYPERCUBE (OPT) in production as they contain old, mostly untested code; in this case it is better to create the inputs for argus via `createArgusInput()` and solve with argus;

as for  `"SIMPLEHEURISTIC"`: as you already indicated, the algorithm is based o

[2021-02-22 18:59] KarinaKelleher commented on #160
Hi,
Thanks you both for the replies - Yes, as noted above, the relevant cells are suppressed when using TauArgus. However they are not suppressed in sdcTable when the following was used (or also when HYPERCUBE and SIMPLEHEURISTIC used):

![image](https://user-images.githubusercontent.com/76166949/108754789-4e7a6b80-753e-11eb-9f6d-79825f22a3aa.png)
![image](https://user-images.githubusercontent.com

[2021-02-24 16:11] jeroenborghuis opened #161 "sdcTable: no holding indicator feature?"
*Please specify*
**SDC tool used:** (sdcTable)
**Version used:**  0.31
**Operating system used:** Windows

Hi, I am wondering whether it is possible to use a 'holding indocator' in sdcTable? If not, when do you expect this feature to be added (if at all)?
Thanks,
Jeroen
---

[2021-02-24 16:49] jeroenborghuis commented on #158
Hi,
I receive the same error when using the runArgusBatchFile function (after using the createArgusInput function) in sdcTable  (0.31), using CPLEX solver and method="MOD":
   "Error in modular suppression procedure
                       HiTaS: couldn't load JJ-routines"
Can anyone help solve this issue?

**R ccde:**
dimList_sbi2d_ld <- list(sbi2d = dimsbi2d, Lndl = dimLD)

p_sbi2d_ld <- makeProb

[2021-02-25 12:32] bernhard-da commented on #161
@jeroenborghuis thx for the questions. As we do not use a holding-indicator in our internal sdc-process, it is unfortunately unlikely that this is going to be implemented directly. You can however create batch-files to run with argus that contain these feature using `createArgusInput()`.

[2021-02-25 12:32] #161 closed

[2021-02-25 16:43] jeroenborghuis opened #162 "sdcTable; createArgusInput: how to specify holdingvar?"
*Please specify*
**SDC tool used:** sdcTable
**Version used:**  0.31
**Operating system used:** Windows

---
Hi, I want to create a batch input file for Tau Argus using sdcTable to be able to specify holding information. However, how do I do this? I tried adding holdingvar = "ogid" in the specification of createArgusInput but I received the following error message:

- "Error in check_varinput(obj,

[2021-02-25 18:29] mancag commented on #161
I am out of the office until 01.03.2021.

Note: This is an automated response to your message  "Re:
[sdcTools/UserSupport] sdcTable: no holding indicator feature? (#161)" sent
on 25.2.2021 13:32:53.

This is the only notification you will receive while this person is away.

[2021-02-25 18:29] mancag commented on #161
I am out of the office until 01.03.2021.

Note: This is an automated response to your message  "Re:
[sdcTools/UserSupport] sdcTable: no holding indicator feature? (#161)" sent
on 25.2.2021 13:32:46.

This is the only notification you will receive while this person is away.

[2021-02-25 18:29] mancag commented on #162
I am out of the office until 01.03.2021.

Note: This is an automated response to your message
"[sdcTools/UserSupport] sdcTable; createArgusInput: how to specify
holdingvar? (#162)" sent on 25.2.2021 17:43:47.

This is the only notification you will receive while this person is away.

[2021-02-26 13:04] bernhard-da commented on #162
hi @jeroenborghuis you need to specify the variable that contains the holding-specifics as additional numeric variable in `makeProblem()`. This variable you can later reference in `createArgusInput(..., holdingvar = "xy")`

It might be however that the definition of safety-rules relevant to holding-vars has a bug in it as I found out in a discussion with @ppdewolf . so if you want to define safete

[2021-02-26 16:17] mancag commented on #162
I am out of the office until 01.03.2021.

Note: This is an automated response to your message  "Re:
[sdcTools/UserSupport] sdcTable; createArgusInput: how to specify
holdingvar? (#162)" sent on 26.2.2021 14:04:43.

This is the only notification you will receive while this person is away.

[2021-02-26 16:17] mancag commented on #162
I am out of the office until 01.03.2021.

Note: This is an automated response to your message  "Re:
[sdcTools/UserSupport] sdcTable; createArgusInput: how to specify
holdingvar? (#162)" sent on 26.2.2021 14:04:48.

This is the only notification you will receive while this person is away.

[2021-03-01 13:53] SimonBBK commented on #158
Please specify
SDC tool used: TauArgus
Version used: 4.1.7
Supression: Modular, Solver Free
Operating system used: Windows 10

Hi,

I tend to get the same error message all the time....

I have the same error message now also with version 4.1.7.

Unfortunatly I cannot share the data here yet, as they are still "originals". I experimented a bit and it seems to be related to the patten or amount of

[2021-03-02 14:20] MichaelLeviValensin opened #163 "Controlled Rounding with Tau-Argus"
Hello
I have a question about controlled rounding in Tau-Argus if you can help me.
When you use the "Controlled Rounding" method for secondary suppressions, you are forced to use a minimum possible base which is equal to the maximum between the minimum frequency threshold and twice the highest Protection level for an unsafe cell.
 Can you explain me why ? And what is the algorithm of the controlle

[2021-03-02 14:37] ppdewolf commented on #163
In the manual of tau-argus you can find some more information in section 2.14.
Specifically:
The minimum rounding base is needed to be able to ensure the required safety ranges (induced by the used sensitivity rule).
The algorithm that is used is the one developed by Salazar, see e.g., https://www.researchgate.net/publication/220589932_Controlled_rounding_and_cell_perturbation_Statistical_disclosu

[2021-03-04 14:02] ppdewolf commented on #158
In case of the situation mentioned by @jeroenborghuis the problem turned out to be produced by the fact that the number of significant digits in his table was too large (13 significant digits of which two decimals). This is over the machine precision and thus sometimes produces non-additivity. When he divided all contributions by 1000 and removed the decimals, the Modular approach worked as expect

[2021-03-05 13:00] SimonBBK commented on #158
With C-falg I mean unsafe cells that have a frequency of 1 or 2.
In the data example for 4.2. the biggest value is 1452900988 and this is a "normal" size. I try to shrink it but this might cause additivity problems in most of our cases.

[2021-03-09 14:09] jeroenborghuis commented on #162
Hi,

Thanks for your help. I managed to add the holding variable using 'numVarInd = c("Tot_AK","ogid")'. I manually edited the generated batch file by adding '<SAFETYRULE> P(10,100,1)|P(0,100,1)|P(10,100,1)|P(0,100,1)' (which I copied from an old batch file in which I used holding info). I am not able to produce this safety rule via 'primSuppRules'. Specifically, this code doesn't work:
primSuppRu

[2021-03-29 07:34] ppdewolf commented on #157
Since making the table additive will change some cell values, it is not obvious how the sensitivity rule is influenced: only the cell values is adjusted, not the underlying contributions. That's the reason why the statusses are not maintained when making a table additive.
However, I assume that the tabular input has the statusses you want. Then a workaround would be to put these statusses in a "ap

[2021-04-06 13:01] ppdewolf commented on #157
Also see issue #130

[2021-04-22 08:45] hegemb0 commented on #155
Asking for Permission to be Member of the User Group

[2021-05-03 15:36] #163 closed

[2021-05-11 11:20] trygu commented on #90
Hi! I would like to second this. I was actually trying to do this myself, only with limited amount of luck. It seems the project have dependencies that are platform specific:

        System.loadLibrary("tauhitas");
        System.loadLibrary("TauRounder");
        System.loadLibrary("TauArgusJava");

.. and probably more. These are windows-compiled binaries (which is actually in the repository),

[2021-05-11 11:57] ppdewolf commented on #90
Source code for these libraries can be found in the respective repositories in the sdcTools organisation.

I am not really familiar with Linux, nor do I have a Linux environment available, so if anybody else could make Lunix binaries that would be nice. Most code should be (more or less) Windows independent.

[2021-05-12 07:14] trygu commented on #90
Sounds good. I'll give it a go. Thanks!

[2021-05-13 10:56] Kyoshido commented on #155
Asking for Permission to be Member of the User Group

[2021-06-02 13:26] finnbogigunnarsson opened #165 "getInfo finalData problem"
For one year ago I was able to use the command sdcTable::getInfo(t1, type ='finalData' )
This year I had to install htmltools to be able to load sdcTable and all was well until getInfo I get this error:
Error in sdcTable::getInfo(t1, type = "finalData") :
  getInfo:: check argument 'type'!

[2021-06-02 13:47] bernhard-da commented on #165
hi @finnbogigunnarsson

i can only speculate but I guess your `t1` has not yet been protected (using `protectTable()`); thus there are is no slot `finalData` yet; i guess `class(t1)` returns `"sdcProblem"` (and not `"safeObj"` which is a requirement that `type = "finalData"` works)

what does

[code]

say?

[2021-06-02 13:58] finnbogigunnarsson commented on #165
It was a fals alarm. I have to run secondary conf before I go til getinfo (I was going to skip it) but I can't aparently

Finnbogi Gunnarsson
Utanríkisverslun | External trade

HAGSTOFA ÍSLANDS | STATISTICS ICELAND
Borgartún 21a - 105 Reykjavík
Beinn sími | Tel: +354 528 1152
Bréfasími | Fax: +354 528 1299

www.hagstofa.is<http://www.hagstofa.is> | www.statice.is<http://www.statice.is>

Fyrirvari

[2021-06-02 14:42] bernhard-da commented on #165
hi @finnbogigunnarsson thx for your reply; if you want to extract the complete table without running `protectTable()` you can use `sdcTable::sdcProb2df(t1)`(in your case)

[2021-06-02 14:42] #165 closed

[2021-07-15 14:01] PetraBurdejova opened #167 "sdcApp doesn't allow to modify importance for kAnon"
**SDC tool used:** sdcMicroGUI
**Version used:**  5.6.0 (current one from github)
**Operating system used:** macOS & Win

---
In shiny sdcApp, after I've chosen the option "yes" to modify the importance of key variables for suppression, no option for "Establish k-anonymity" is provided anymore, the button disappears.
Screenshot attached: Done with the testdata provided (chosen 3 keyvars) and done

[2021-07-15 19:23] bernhard-da commented on #167
hi @PetraBurdejova  thx for reporting this issue; i was able to reproduce and fixed this in https://github.com/sdcTools/sdcMicro/commit/04c02fafe7f4e784b5a260cef8858923dfc9290c

using
[code]
you should be able to work with the updated version;

[2021-07-15 19:24] #167 closed

[2021-07-19 08:53] nathanaelrastout opened #168 "nk_dominance rule with n=1"
Hello,

I'm currently using sdcTable v0.31 to apply secret on different tables,
I can't use the git version at my work to treat the nk rules with n=1.
Would you please release the latest version on CRAN ?
With my thanks

[2021-07-19 09:22] bernhard-da commented on #168
hi, i hope i can find time to make a new cran version soon; unfortunately, time is limited and i want to finalize some other developments/bugfixes first before uploading a new version to cran;

[2021-07-19 10:05] nathanaelrastout commented on #168
Thank you for this quick answer,
hope you'll find time to finalize it.

[2021-07-19 14:02] mancag commented on #168
I am out of the office until 03. 08. 2021.

Note: This is an automated response to your message  "Re:
[sdcTools/UserSupport] nk_dominance rule with n=1 (#168)" sent on 19.7.2021
11:22:42.

This is the only notification you will receive while this person is away.

[2021-07-19 14:02] mancag commented on #168
I am out of the office until 03. 08. 2021.

Note: This is an automated response to your message  "Re:
[sdcTools/UserSupport] nk_dominance rule with n=1 (#168)" sent on 19.7.2021
12:05:31.

This is the only notification you will receive while this person is away.

[2021-07-19 14:02] mancag commented on #168
I am out of the office until 03. 08. 2021.

Note: This is an automated response to your message
"[sdcTools/UserSupport] nk_dominance rule with n=1 (#168)" sent on
19.7.2021 10:53:14.

This is the only notification you will receive while this person is away.

[2021-08-09 23:19] r-ballard commented on #90
Hi All - Has a Linux deployment been figured out?

[2021-08-10 06:48] bernhard-da commented on #168
@nathanaelrastout the fix in included in the new cran-version (0.32.0)

[2021-08-10 06:48] #168 closed

[2021-08-10 06:49] bernhard-da commented on #162
@jeroenborghuis the bug should be fixed with the latest cran-version

[2021-08-10 06:49] #162 closed

[2021-08-24 19:20] snestler opened #169 "Other Solvers for sdcTable - ?"
Has anyone investigated the idea of using an open-source solver other than GLPK with sdcTable?  The idea being to get better performance when processing large tables.  I'm thinking that CBC might be a better alternative, especially on Linux.  Thank you.

[2021-08-24 20:15] bernhard-da commented on #169
hi @snestler thx for your issue; indeed this would be a good idea to investigate but the main problem is that there are no packages providing an api to (e.g cbc) on cran so it would be difficult to keep/put sdcTable on CRAN if it would depend on such solvers; i am aware of https://github.com/dirkschumacher/rcbc and once (hopefully) it makes it way on CRAN, i will consider using it.

[2021-08-24 20:15] #169 closed

[2021-09-24 13:01] mancag opened #170 "Some versions of Tau-Argus don't minimise the sum of suppressed cells when Modular method is used (any more!)"
**SDC tool used:** Tau-Argus
**Version used:**  3.5.0 (b27), 4.1.3 (b1), 4.1.4(b1), 4.1.6 (b1), 4.2.0 (b5)
**Operating system used:** Windows

---
Hi!

We recently noticed that Tau-Argus 4.1.3 doesn't work correctly any more: it doesn't minimise the sum of suppressed cells when Modular method is used. After careful inspection we were able to find out that on 15.2.2021 Tau-Argus was still working c

[2021-09-30 11:53] nathanaelrastout opened #172 "Non-additivity and batch file for table in Tau Argus"
Tau-Argus
4.2.0b5
Windows

Hello, I'm currently trying to work with table instead of microdata with Tau-argus, I work for French NSI.
I have an issue about non-additivity, Tau-Argus says that the table is non-additive but in the non additivity report the Total is correct and at the end of the report it shows "Difference : 0". I did manual checkings and the total for value and frequency is correct.

[2021-10-27 10:00] r-tent opened #173 "Batch file options for optimal"
**SDC tool used:** (tau-argus)
**Version used:**  (4.2.0b5)
**Operating system used:** (Windows)

---

Hello :-)

Due to some special circumstances I wanted to use the optimal suppression method combined with a batch file. Unfortunately there is no possibility to specify the options SingleSingle, SingleMultiple, MinFreq as you can do with modular. So Tau Argus 4.2.0b5 seems to set all these option

[2021-11-10 14:02] ppdewolf opened #174 "SBS output query (Differentiate between 1 and 2 dominant)"
*Please specify*
**SDC tool used:** tau-argus
**Version used:**  4.2.0 b5
**Operating system used:** Windows

---
(issue copied from email)

---

We are using TAU-Argus Version 4.2.0 Build 5 to create suppression details for Business output.  For primary suppression due to dominance, the area need to differentiate between 1 dominant (B) and 2 dominant (C) enterprises in the cell. We are applying d

[2021-11-16 16:58] ppdewolf commented on #174
Firstly, note that your freq.rule is redundant: the (2,90) rule implies that there should be at least 3 contributors to a cell. Less than three is obviously unsafe (2 contributors contribute 100% to a cell if they are the only contributors, same for a sigleton cell).

Secondly, according to SBS regulation (I think), whenever a cell conflicts with both the frequency rule _and_ the dominance rule, t

[2021-11-17 11:26] KarinaKelleher commented on #174
Thank you  @ppdewolf for your response.
Yes, currently the only time there appears to be a frequency fail now is when the total value is 0 and the number of contributors is less than 3. We are happy to keep these suppressed as just provides consistency for the areas with the rules they have been applying.

In the example given I would also have expected to see a B fail and not a C fail for 'AD' as

[2021-12-06 17:11] tombisho opened #175 "Question about cellKey package"
Hi,

Where should I ask a question about using the cellKey R package?

[2021-12-06 18:08] bernhard-da commented on #175
hi @tombisho

you can ask right here in the usersupport repo; but please open a new issue for your question;

[2021-12-06 18:08] #175 closed

[2021-12-07 14:02] tombisho opened #176 "Beginner questions about cellkey"
Thank you for the excellent cellkey (0.19.1, linux) package. It has been really useful for starting to understand some of the concepts.

I am wondering about how it should be used to calculate other summary statistics beyond counts and sums. I guess means would be a good start. Is is acceptable to simply divide a sum table by a count table? Or do we need to create a new method for a cellkey object

[2021-12-07 17:31] bernhard-da commented on #176
@tombisho thx for your question;

I guess you are right; if you plan the application to use as you described, there is no way around building new objects for each "query" (subset/hierarchy-definition) using the same data-source (to which a record-key has been applied once in order to keep consistency);

but i am not sure if the cell-key method is really the appropriate tool for your task; its real

[2021-12-09 10:50] tombisho commented on #176
Hi @bernhard-da

Yes this is some very useful feedback. I can see that the cell-key method is more aimed at the one-shot data release, where some careful preparatory work needs to be done first. If I have time I guess I could explore to what extent the preparation steps could be automated, but this may just be unrealistic. The appeal is that the `cellkey` package offers a nice way of consistent ap

[2021-12-09 11:08] ppdewolf commented on #176
To add a little to this discussion:

The basic idea of CKM is indeed to add record keys once to the microdata and keep those fixed for future analyses. Only that way you can guarantee consistency over tables. Note that you do lose additivity within the table.

Starting with perturbing the microdata (e.g. with data swapping) is the more "traditional" way of handling general output. However, many st

[2021-12-10 10:53] #155 closed

[2021-12-10 21:04] r-tent commented on #176
Hi @tombisho
I dont know anything about DataSHIELD, but I know a little bit about the cell key method :-) Actually it's totally okay to divide a perturbed magnitude table by a perturbed count table, except for the relatively high variance you get by dividing by a perturbed count, if the original count is small. In the 2020 PSD paper of Tobias Enderle, Sarah Giessing an me we showed why, neverthele

[2021-12-13 14:43] tombisho commented on #176
Hi @ppdewolf  and @r-tent ,

Thank you both for your inputs. They are useful for our considerations about how we might use CKM in a DataSHIELD setting. As you can see, it is not a simple way forward and I think there is a lot more thinking to do. If we do make progress I will be sure to report back.

Tom

[2021-12-14 12:34] #176 closed

[2021-12-20 14:11] ppdewolf commented on #170
I tested again 4.14, 4.1.5 and 4.1.6, this time with Xpress (dongle) and still got the correct results. So I cannot reproduce the error and thus debugging would be difficult.
Moreover, since the problem seems to be absent in the most recent versions, I will not invest too much time into this.

I will close this issue for now. If you have any feedback concerning your third question, please open a n

[2021-12-20 14:11] #170 closed

[2021-12-22 08:59] bjanez opened #177 "Decimal places in .tab files :bug:"
**SDC tool used:** Tau Argus
**Version used:**  4.1.4, 4.2.b, 4.4.2
**Operating system used:** Windows 10

---
Hello!

I would like to ask you for some ideas/possible solutions of why the Modular method for secondary suppression of the data in the .tab format file I present below,  crashes (closes)  in Tau Argus versions 4.1.4 (Build 1) and 4.2.0 (Build 5) . We just tested the new version of 4.2.2

[2021-12-22 09:03] bjanez opened #178 "Missing values in .tab files"
**SDC tool used:** Tau Argus
**Version used:**  4.2.b, 4.4.2
**Operating system used:** Windows 10
---
We would like some clarification how to handle the missing values in the .tab files. The version which we use at the moment in our production is 4.1.4, we use general SAS code for creation of tabular data format. In the latest versions of Tau Argus (4.2.b and 4.2.2) some .tab files are not workin

[2022-01-07 10:34] trygu commented on #90
Hi!

I have managed to get libTauArgus to build on Linux, which I guess is step 1 of 4 to get this to compile. Still would like a better build-system (but I want it to compile first). I'll send a PR today.

[2022-01-07 11:12] ppdewolf commented on #178
In 4.1.4 (and earlier versions) a non-numeric value for numeric variables (like the frequency) was ignored. That is, it was detected as an exception ("catched")  but no action was taken upon that. Luckily, in your situation that still led to "expected" behaviour. In other situations it could lead to undesirable side-effects. So from 4.1.5 onwards we added an action when such an exception was caugh

[2022-01-07 11:12] #178 closed

[2022-01-07 11:51] ppdewolf commented on #177
Hi Janez,

there are a few observations from my side on the table you provide in the `issue.zip` file:

1. The frequencies of your table do not add up.
2. There are cells with the value zero: is the value indeed exactly zero (i.e. all contributors contribute 0 or the positive and negative contributions exactly (up to the last decimal) cancel out)?
3. The cells with value zero and status `U` have a

[2022-01-07 11:51] #177 closed

[2022-01-07 13:04] ppdewolf commented on #90
Do the files `BUILDINFO.TXT`, `MAKEINFO` (both in tauargus repo) and the different make-files (in the respective repo's) give you any clues?

I am not too familiar with producing build-systems that can detect the operating system etc. (CONFIGURE and similar constructs). Especially in a situation where you have multiple programming languages (C/C++, Java, Delphi/Pascal, Fortran).

[2022-02-03 17:55] ppdewolf commented on #159
The next release (5.1.7) will solve the issue of the metadata for "Free with meta" type files.
As a consequence, also the safe output file will be "Free with meta" (containing variable names on first row).
No release date known yet though, as I am also working on extending the Targeted Record Swapping interface to allow for multiple similarity profiles.

Concerning the "-1" issue: if it still pers

[2022-02-03 17:55] #159 closed

[2022-02-24 16:01] ppdewolf commented on #16
fixed in version 5.1.7

[2022-02-24 16:01] #16 closed

[2022-03-09 13:27] jeroenborghuis opened #180 "Some features that I would love to see implemented in sdcTable"
**SDC tool used:** sdcTable
**Version used:**  0.31
**Operating system used:** Windows

Hi,
I use the createArgusInput() and runArgusBatchFile() functions of the sdcTable package to call Tau Argus. However, there are a few functionalities of Tau Argus that, to my knowledge, are not accessible in sdcTable:
1. specify a satety rule also at the holding level
2. protect linked tables
3. use an apriori

[2022-04-05 08:40] nathanaelrastout opened #181 "Understand the PROTO001 file"
Tau-Argus
4.1.7b4
Windows

---

Hello,

I looked at the PROTO002 and PROTO001 file recently. The PROTO002 helped me a lot to understand why Tau-Argus couldn't apply secondary suppression. But when I read the PROTO001 file, I understood that the content can help me a lot to figure out about the limits of Tau-Argus, but I was not able to fully understand it. Currently, my knowledge about the limits

[2022-04-06 08:35] #181 closed

[2022-05-27 15:26] SamelaBA opened #184 "Explanatory variables in Specify tables (tau-argus)"
*Please specify*
**SDC tool used:** tau-argus
**Version used:**  4.2.0
**Operating system used:** Windows

Hello,

My name is Sâmela.
I'm having trouble viewing some variables in the Explanatory variables part.
I have a lot of explanatory variables in the metadata, and I can't specify some tables because I can't see them.

Best regards,

Sâmela
![image](https://user-images.githubusercontent.com/10

[2022-06-21 06:21] ppdewolf commented on #184
Thanks for noticing this. Personally I never use that many explanatory variables, so I hadn't noticed this so far.

I'll have a look at at for the next version.

As a workaround: do you really need all these variables? If not, only specify the variables you need in the .rda file (just specify their location in the datafile). It is not necessary to have all variabels in the data specified in the .r

[2022-07-07 09:24] NateRastout opened #185 "Max computing time with Optimal"
Tau-Argus:
4.2.2.b1
Windows

---

Hello, I have a small issue concerning Optimal.
In my batch I allow 25 minutes for the secondary suppression.

![specif_opt](https://user-images.githubusercontent.com/19191350/177739247-75fe02af-419e-4dd7-9e56-5994a2f1874e.png)

But I always get this window asking me if I want to allow more time to perform secondary suppression.

![limite_argus](https://user-image

[2022-07-07 13:45] #185 closed

[2022-07-22 07:37] ppdewolf commented on #24
No further reply, so will close this issue

[2022-07-22 07:37] #24 closed

[2022-07-27 07:24] kimko567 opened #187 "Opening tau-Argus from .NET (6.0)."
tau-argus
4.2.0
Windows 10

I am having an issue launching TauArgus.exe from .NET application.

When I try to launch TauArgus.exe from cmd.exe that I manually run - everything works fine, the program launches without errors.
However, when I try to launch TauArgus.exe from .NET application, by using Process.Start() (does not matter if I call cmd.exe or TauArgus.exe directly), the program fails to l

[2022-07-27 12:58] ppdewolf commented on #187
It looks like it cannot find some libraries it needs. Some questions:

How exactly is tauargus started?
Do you use something like `java -jar PATH_TO_ARGUS\TauArgus.jar` or just `PATH_TO_ARGUS\TauArgus.exe`?

What is the active PATH-environment-variable (i.e., %PATH%) when TauArgus is called from .NET?

[2022-07-27 13:15] kimko567 commented on #187
Issue solved!

I was starting tauargus by executing PATH_TO_ARGUS\TauArgus.exe.
Looked up some possible reasons for why _java.lang.UnsatisfiedLinkError: Can't find dependent libraries_ can in general occur...

A solution I found that also worked for me was installing Microsoft Visual C++ Redistributable latest version.

[2022-07-27 13:15] #187 closed

[2022-08-01 08:35] ppdewolf opened #188 "Option Writing records in random order in mu-argus not available"
*Please specify*
**SDC tool used:** mu-argus
**Version used:**  5.1.7 (maybe earlier as well)
**Operating system used:** Windows

---

In the "Making Safe File" dialog, the option "Write records in random order" is only available when using "fixed format" microdata

[2022-08-02 22:51] msanches35 opened #189 "Ldiversity and missing values"
*Please specify*
**SDC tool used:** (mu-argus, sdcMicro, sdcMicroGUI, tau-argus, sdcTable)
**Version used:**
**Operating system used:** (Windows, Linux)

---
I am using sdcMicro 5.7.1 on Windows.

When I use ldiversity function with a sensitive variable that has many missing values, I get indices 1 when the sensitive variable is missing. As I understand, if the sensitive variable is missing then t

[2022-08-16 07:14] bernhard-da commented on #189
hi @msanches35 ; could you please provide a quick reproducible example using `ldiversity()`? thx!

[2022-08-17 11:48] Symaen13 opened #190 "sdcTable holdingvar"
Hello,
is there a way in sdcTable to define something like a holdingvar, similar to createArgusInput()?
Thanks

[2022-08-17 15:24] msanches35 commented on #189
Here is a reproducible example, based on Table 4 from the sdcMicro paper.

[code]
Rows 1, 2, 3 have l-diveristy 1.  However, no disclosure issue here, since the sensitive variable is missing. Rows 7, 8 and 9 should also not pose concern in terms of l-diversity.

This is creating a problem because I cannot tell based on the l-diveristy column where are the disclosure risks. At least for me, it woul

[2022-08-18 05:18] bernhard-da commented on #190
hi @Symaen13  thx for your question. currently, there is no such possibility.

[2022-08-18 05:18] #190 closed

[2022-08-18 05:37] bernhard-da commented on #189
@msanches35 thx a lot. i will have a look.

[2022-08-18 06:05] bernhard-da commented on #189
@msanches35  i agree that the implementation of l-diversity risk is somewhat ambiguous. i just tried the following as the underlying c++ code does not seem to work well with `NAs`; i just tried this (using `example.data` as starting-point):

[code]
which gave
[code]
which are more plausible results; i guess we probably should provide a possibility to allow (automatic) recoding of missings in the

[2022-08-22 13:20] msanches35 commented on #189
Thanks, the results do make more sense, I think it will help me to get an useful ldiversity index! But there are still some inconsistencies in my view:

Rows 10:12 - Given that NA can be anything, I think index should be 3; or it should simply be 0 every time there is at least one NA in the sensitive variable.
Rows 14 and 15 and  18 should not be 1. However, I think this may be resolved if we simp

[2022-09-02 16:49] olangsrud opened #191 "sdcMicro::recordSwap, No effect of k_anonymity parameter?"
**SDC tool used:** sdcMicro,
**Version used:**    5.7.2  (installed from GitHub)
**Operating system used:**  Windows

---
It seems that the `k_anonymity` parameter in `recordSwap()` in sdcMicro has no effect.
For example, in the example in the package `k_anonymity = 0` and  `k_anonymity = 2` give identical results:

[code]

[2022-09-04 12:28] olangsrud commented on #191
I see I jumped to the claim of no effect of the parameter too quickly. In the analysis of our own data, `k_anonymity = 0` and `k_anonymity = 1` gave no difference. I then looked at the example in the package and saw that the answer was the same regardless of the value of k_anonymity. But now I see that more risk variables must be added to see differences (as in the tests).

So in a modified versio

[2022-09-06 05:25] bernhard-da commented on #191
@olangsrud thx for the report; i jsut tried and I think that using your parameters and setting `k_anonymity = 1`  resulted (given the input data) in no risky-households identified and thus you the procedure yields identical results. if you set `k_anonymity` to anything larger than `1`, you get different results.

[2022-09-07 07:46] olangsrud commented on #191
I have read the details more carefully and I see that risky means `counts < k_anonymity` and not `counts <= k_anonymity`. So `k_anonymity = 1`  has no meaning and it is logical that it gives the same answer as `k_anonymity = 0`.

Sorry, this was a bit embarrassing issue. :)

But one explanation is that my first use of `sdcMicro::recordswap` was inspired by the first example of the function and the

[2022-09-07 08:14] ppdewolf commented on #191
In the vignette (22-07-2022) it says "A record is not at risk if `k_anonymity > counts`." i.e., `counts >= k_anonymity` are at risk. This cannot be true.

Getting in line with the "standard" definition of k-anonymity (can not be distinguished from at least `k-1` other individuals, i.e., >= k is safe) the used definition was changed to `counts < k_anonymity` are at risk. (Around June 2021, IIRC)

@

[2022-09-07 09:21] #191 closed

[2022-09-29 06:20] bernhard-da commented on #189
i have now done some investigation, but before comitting these I want to gather some feedback on "edge-cases"; the most-simple case (so missing values) is trivial and the expected results should be non-ombiguous.

[code]
in the `data.frame` from above, ldiv should report values `3` (for `key1 == a`) and `1` (for `key1 == b`) given sensitive variable `health`; it is however not 100% clear (at least

[2022-11-28 13:37] mancag opened #194 "Correct protection of zeros and ones"
*Please specify*
**SDC tool used:** Tau-Argus
**Version used:**
**Operating system used:** Windows

---
In Tau-Argus, protection of zeros and ones is in my opinion sometimes incorrect. Here are three exmples:

1. In an additive magnitude table, cell with value 0 represents the sum of three other cells (summands) with value 0:
0 = 0 + 0 + 0
The first summand is primary sensitive, the others are not

[2022-11-29 13:44] NateRastout opened #195 "Hypercube parameters in batch file"
**SDC tool used:** Tau-argus
**Version used:** : 4.2.3
**Operating system used:** Windows, Linux

---

Hi, I would like to know if the parameters "Protection against inferential disclosure" and "Manual ModelSize" could be implemented in the batch version of Hypercube ?
For the second one I would like to set some higher codelist size, because it is not that uncommon that we reach the 250 code limit